<h2>Show todo</h2>

<ul>

  <li>
    <strong>Task:</strong>
    <%= @todo.task %>
  </li>

  <li>
    <strong>Done:</strong>
    <%= @todo.done %>
  </li>

</ul>

<%= link "Edit", to: todo_path(@conn, :edit, @todo) %>
<%= link "Back", to: todo_path(@conn, :index) %>
